
@{
    ViewData["Title"] = "ChangePassword";
    ViewBag.User = Session["User"];
}

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Page Header -->
        <div class="row">
            <div class="col-sm-6">
                @*<div class="breadcrumb-bar">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col-md-6 col-6">
                                    <h2 class="breadcrumb-title">Change Password</h2>
                                </div>

                            </div>
                        </div>
                    </div>*@
            </div>
        </div><br />
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">

                <div class="tab-content profile-tab-cont">

                    <!-- /Personal Details Tab -->
                    <!-- Change Password Tab -->
                    <div id="password_tab" class="tab-pane fade show active">

                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {@Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <input type="text" class="form-control" style="display:none;"  name="Email" value=@ViewBag.User.Email>
                                            <span style="color:red;">@ViewBag.Error</span><br />
                                            <label>Old Password</label>
                                            <input type="password" class="form-control" name="OldPassword" required>
                                        </div>
                                        <div class="form-group">
                                            <span style="color:red;" id="ChangePasserror"></span>@ViewBag.PError<br />
                                            <label>New Password</label>
                                            <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                                        </div>
                                        <button class="btn btn-primary" type="submit" id="SaveChanges">Save Changes</button>
                                    }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Change Password Tab -->

                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->
<!-- jQuery -->
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>

<script>
    //

    //$("#NewPassword").change(function () {

    //});
    $("#ConfirmPassword").change(function () {

        var error = $("#ChangePasserror");
        error.text('');
        error.css('color', 'red');
        var New = $("#NewPassword").val();
        if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
            error.text('New Password and Confirm Password not Matched');
            $("#SaveChanges").attr("disabled", true);
        } else {
            $("#SaveChanges").attr("disabled", false);
        }
    });


</script>

