@model  IEnumerable<WorldServiceOrganization.Models.tblPerson>

@{
    ViewData["Title"] = "Transactions";


    string CreatedDate = DateTime.Now.ToString("yyyy-MM-dd");

    HttpCookie cookieObj = Request.Cookies["Settings"];
    string DateFormat = cookieObj["DateFormat"];
    string Retrieves = cookieObj["Retrieves"];
    string EDate = DateTime.Now.ToString("yyyy-MM-dd");
    string BDate = DateTime.Now.ToString("yyyy-MM-dd");

    //DateTime EEDate = ViewBag.EDate.ToString("yyyy-MM-dd");
    //DateTime BBDate = ViewBag.BDate.ToString("yyyy-MM-dd");
}

<head>

    <style>
        .select2-container {
            width: 100% !important;
        }

        .filters {
            background-color: white !important;
            /*color: white !important;*/
        }
    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Custom Search</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Letter Case</label>
                            <select name="LetterCase" class="form-control" id="LetterCase">
                                <option value=""> Select Letter Case</option>
                                <option value="1">lowercase</option>
                                <option value="2">UPPERCASE</option>
                                <option value="3">Capitalize Each Word</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Font Size</label>
                            <input type="number" class="form-control" name="FontSize" id="FontSize" value="" />
                        </div>
                        <div class="col-md-4">
                            <label>Font Style</label>
                            <input type="text" class="form-control" name="FontStyle" id="FontStyle" value="" />
                        </div>
                    </div><br />


                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="cell-border table" id="ListTable">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>WSA #</th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ID">
                                        @if (Model != null)
                                        {
                                            foreach (WorldServiceOrganization.Models.tblPerson List in Model)
                                            {
                                                <tr>
                                                    <td>@List.tblStatu.Name</td>
                                                    <td>@List.WSANumber</td>
                                                    <td>@List.LastName</td>
                                                    <td>@List.FirstName</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>



<!-- /Page Wrapper -->
<!-- jQuery -->

<script src="~/Content/assets/js/jquery-3.5.1.js"></script>


@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>

    $("#FontStyle").change(function () {
        $("#ID").css("font-family", $("#FontStyle").val());
    });

    $("#FontSize").change(function () {
        $("#ID").css("font-size", $("#FontSize").val() + 'px');
    });

    $('#LetterCase').change(function () {

        if ($(this).val() == 1) {
            $('#ID').css('textTransform', 'lowercase');
            //document.getElementsByTagName("section").setAttribute('textTransform', 'lowercase');
        }
        else if ($(this).val() == 2) {
            $('#ID').css('textTransform', 'uppercase');

            //document.getElementById("ID").setAttribute('style', 'textTransform:uppercase');
        }
        else {
            $('#ID').css('textTransform', 'capitalize');
        }
    });
   



    $(document).ready(function () {

        $('#ListTable_filter').hide();

        $('#ListTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" class="form-control"/>');
        });


        // Setup - add a text input to each footer cell
        $('#ListTable thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#ListTable thead');

        var tbl = $('#ListTable').DataTable({

            destroy: true,
            dom: 'Bfrtip',
            //lengthMenu: [
            //    [10, 25, 50, -1],
            //    ['10 rows', '25 rows', '50 rows', 'Show all']
            //],
            buttons: [
                'pageLength',
                {


                    extend: 'excel',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                    }
                }
            ],
            //"lengthMenu": [@Retrieves],
        orderCellsTop: true,
            fixedHeader: true,
                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            $(cell).html('<input type="text" placeholder="' + title + '" class="form-control"/>');

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('keyup change', function (e) {
                                    e.stopPropagation();

                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },
        //language: {
        //    'search': '검색' /*Empty to remove the label*/,
        //    paginate: {
        //        previous: '이전',
        //        next: '다음'
        //    },
        //},

            searching: true, paging: false, Sorting: false, "bInfo": false,
            //"lengthMenu": [[1000, 10, 25, 50, -1], [1000, 10, 25, 50, "All"]],
            "order": [],
                autoWidth: false,
                    columnDefs: [
                        { width: '20%', targets: 0 }
                    ],
                        fixedColumns: true
    });


        //$('#ListTable').DataTable({

        //    "bInfo": false,
        //    "scrollY": "110px",
        //    "scrollCollapse": true,
        //    searching: false, paging: false
        //});


        $(".nav li ul li").removeClass("active");
        $('#CSearch').addClass('active');
        $('#Rep a').addClass('subdrop');
        $("#Rep  ul").first().css('display', 'block');
    });




</script>
