@model  IEnumerable<WorldServiceOrganization.Models.ReportList>

@{
    ViewData["Title"] = "Transactions";


    string CreatedDate = DateTime.Now.ToString("yyyy-MM-dd");

    HttpCookie cookieObj = Request.Cookies["Settings"];
    string DateFormat = cookieObj["DateFormat"];
    string Retrieves = cookieObj["Retrieves"];
}

<head>

    <style>

       
    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Reference Code List</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-body">
                    @using (Html.BeginForm("List", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {@Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Report:</label>
                                        <select name="ReportList" id="ReportList" class="form-control">
                                            <option value="0">Select Report Type</option>
                                            <option value="1">Occupation Listing</option>
                                            <option value="2">Country Listing</option>
                                            <option value="3">Product Listing</option>
                                            <option value="4">Sex Listing</option>
                                            <option value="5">Eyes Listing</option>
                                            <option value="6">Status Listing</option>
                                            <option value="7">Product Type Listing</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 text-right" style=" margin-top: 20px;">
                                        <button class="btn btn-primary" type="submit" id="btnSearch">OK</button>
                                        <a href="@Url.Action("List", "Report")"> <input class="btn btn-danger" type="button" value="Cancel"></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Letter Case</label>
                                        <select name="LetterCase" class="form-control" id="LetterCase">
                                            <option value=""> Select Letter Case</option>
                                            <option value="1">lowercase</option>
                                            <option value="2">UPPERCASE</option>
                                            <option value="3">Capitalize Each Word</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Font Size</label>
                                        <input type="number" class="form-control" name="FontSize" id="FontSize" value="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Font Style</label>
                                        <input type="text" class="form-control" name="FontStyle" id="FontStyle" value="" />
                                    </div>
                                </div>







                            </div>
                        </div>

                    </div>
                }

                    <br>
                    <div class="row">
                        <div class="col-md-12" >
                            <div class="table-responsive" >
                                <table class="cell-border table" id="ListTable">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ID">
                                        @if (Model != null)
                                        {
                                            foreach (WorldServiceOrganization.Models.ReportList List in Model)
                                            {
                                                <tr>
                                                    <td>@List.Code</td>
                                                    <td>@List.Name</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>



<!-- /Page Wrapper -->
<!-- jQuery -->

<script src="~/Content/assets/js/jquery-3.5.1.js"></script>


@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>


    $("#FontStyle").change(function () {
        $("#ID").css("font-family", $("#FontStyle").val());
    });

    $("#FontSize").change(function () {
        $("#ID").css("font-size", $("#FontSize").val() + 'px');
    });

    $('#LetterCase').change(function () {

        if ($(this).val() == 1) {
            $('#ID').css('textTransform', 'lowercase');
            //document.getElementsByTagName("section").setAttribute('textTransform', 'lowercase');
        }
        else if ($(this).val() == 2) {
            $('#ID').css('textTransform', 'uppercase');

            //document.getElementById("ID").setAttribute('style', 'textTransform:uppercase');
        }
        else {
            $('#ID').css('textTransform', 'capitalize');
        }
    });



    $(document).ready(function () {

        $("#ReportList").val(@ViewBag.State).change();


        $('#ListTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    exportoptions: {
                        columns: [1, 2]
                    }

                }
            ]
            //"bInfo": false,
            //"scrollY": "110px",
            //"scrollCollapse": true,
            //searching: false, paging: false
        });


        $(".nav li ul li").removeClass("active");
        $('#RList').addClass('active');
        $('#Rep a').addClass('subdrop');
        $("#Rep  ul").first().css('display', 'block');
    });




</script>
