@model  IEnumerable<WorldServiceOrganization.Models.ReportList>

@{
    ViewData["Title"] = "Transactions";


    string CreatedDate = DateTime.Now.ToString("yyyy-MM-dd");

    HttpCookie cookieObj = Request.Cookies["Settings"];
    string DateFormat = cookieObj["DateFormat"];
    string Retrieves = cookieObj["Retrieves"];
}

<head>

    <style>

       
    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">List</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-body">
                    @using (Html.BeginForm("List", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {@Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Report:</label>
                                        <select name="ReportList" id="ReportList">
                                            <option value="0">Report</option>
                                            <option value="1">Occupation Listing</option>
                                            <option value="2">Country Listing</option>
                                            <option value="3">Product Listing</option>
                                            <option value="4">Sex Listing</option>
                                            <option value="5">Eyes Listing</option>
                                            <option value="6">Status Listing</option>
                                            <option value="7">Product Type Listing</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button class="btn btn-primary" type="submit" id="btnSearch">OK</button>
                                        <a href="@Url.Action("List", "Report")"> <input class="btn btn-danger" type="button" value="Cancel"></a>
                                    </div>
                                </div>
                                
                                
                                
                                
                                
                                
                                
                                
                            </div>
                        </div>

                    </div>
                }


                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="cell-border table" id="ListTable">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (WorldServiceOrganization.Models.ReportList List in Model)
                                            {
                                                <tr>
                                                    <td>@List.Code</td>
                                                    <td>@List.Name</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>



<!-- /Page Wrapper -->
<!-- jQuery -->

<script src="~/Content/assets/js/jquery-3.5.1.js"></script>


@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>






    $(document).ready(function () {

        $("#ReportList").val(@ViewBag.State).change();


        $('#ListTable').DataTable({

            "bInfo": false,
            "scrollY": "110px",
            "scrollCollapse": true,
            searching: false, paging: false
        });


        $(".nav li ul li").removeClass("active");
        $('#RList').addClass('active');
        $('#Rep a').addClass('subdrop');
        $("#Rep  ul").first().css('display', 'block');
    });




</script>
